.header {
  background-color: black;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0px 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
}

.nav-links .active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
